<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6 form-group">
    <%= form.label :ruc, class:'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= form.text_field :ruc, id: :cliente_ruc , class:'form-control'%>
    </div>
  </div>

  <div class="col-md-6 form-group">
    <%= form.label :razon_social, class:'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= form.text_field :razon_social, id: :cliente_razon_social, class:'form-control' %>
    </div>
  </div>

  <div class="col-md-6 form-group">
    <%= form.label :direccion, class:'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= form.text_field :direccion, id: :cliente_direccion, class:'form-control' %>
    </div>
  </div>

  <div class="col-md-6 form-group">
    <%= form.label :telefono, class:'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= form.text_field :telefono, id: :cliente_telefono, class:'form-control' %>
    </div>
  </div>

  <div class="col-md-6 form-group">
    <%= form.label :estado, class:'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= form.select :estado, options_for_select(@estados.collect{
          |c| [c.descripcion, c.codigo]}, cliente.estado),{},{ id: :cliente_estado, class:'form-control'} %>
    </div>
  </div>

  <div class="col-md-6 form-group">
    <div class="col-md-12">
      <%= form.button :submit, class:'btn btn-primary', style:'float:right;' do %>
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
      <% end %>
    </div>
  </div>
<% end %>
