<div class="market-updates" id="pnl_asistencia" style="display: none;">
  <div class="col-md-12 market-update-gd" style="text-align: right;">
    <%= form_with(model: @asistencium, url: home_path, local: true) do |form| %>
      <% if @asistencium.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@asistencium.errors.count, "error") %> prohibited this asistencium from being saved:</h2>

          <ul>
            <% @asistencium.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :ip_conexion, id: :asistencium_ip_conexion %>
      <%= form.hidden_field :latitud, id: :asistencium_latitud %>
      <%= form.hidden_field :longitud, id: :asistencium_longitud %>
      <%= form.hidden_field :tipo_asistencia, id: :asistencium_tipo_asistencia, value: @asistencium.tipo_asistencia%>
      <%= form.hidden_field :id_ingreso, id: :asistencium_id_ingreso, value: @asistencium.id_ingreso%>
      <%= form.button :submit, class:'hvr-grow btn btn_principal', style:'float:right;' do %>
        <i class="fa fa-location-arrow" aria-hidden="true"></i> Marcar <%= @asistencium.tipo_asistencia == "ING"? "Ingreso" : "Salida" %>
      <% end %>
    <% end %>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="market-updates">
  <div class="col-md-4 market-update-gd">
    <div class="market-update-block clr-block-1">
      <div class="col-md-8 market-update-left">
        <h3><%= @total_puntuales %></h3>
        <h4>Total Puntuales</h4>
        <p><%= (100.0*@total_puntuales/@total_empleados).round.to_s + "% de empleados"%></p>
      </div>
      <div class="col-md-4 market-update-right">
        <i class="fa fa-smile-o"> </i>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="col-md-4 market-update-gd">
    <div class="market-update-block clr-block-2">
      <div class="col-md-8 market-update-left">
        <h3><%= @total_tardes %></h3>
        <h4>Total Tardanzas</h4>
        <p><%= (100.0*@total_tardes/@total_empleados).round.to_s + "% de empleados"%></p>
      </div>
      <div class="col-md-4 market-update-right">
        <i class="fa fa-frown-o"> </i>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="col-md-4 market-update-gd">
    <div class="market-update-block clr-block-3">
      <div class="col-md-8 market-update-left">
        <h3><%= @total_pendientes %></h3>
        <h4>Total Pendientes</h4>
        <p><%= (100.0*@total_pendientes/@total_empleados).round.to_s + "% de empleados"%></p>
      </div>
      <div class="col-md-4 market-update-right">
        <i class="fa fa-street-view"> </i>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>

<div class="chit-chat-layer1">
  <div class="col-md-12 chit-chat-layer1-left">
    <div class="work-progres">
      <div class="chit-chat-heading">
        Marcación Reciente
      </div>
      <div class="table-responsive">
        <table class="table table-hover mb-none">
          <thead>
          <tr>
            <th>#</th>
            <th>Colaborador</th>
            <th>Cliente</th>
            <th>Hora Programada</th>
            <th>Fecha Asistencia</th>
            <th>Hora Ingreso</th>
            <th>Observación</th>
          </tr>
          </thead>
          <tbody>
          <% @asistencias.each do |as| %>
            <tr>
              <td><%= as.id %></td>
              <td><%= as.nombres + " " + as.apellidos %></td>
              <td><%= as.razon_social %></td>
              <td><%= as.hora_ingreso %></td>
              <td><%= as.fecha_marcada %></td>
              <td><%= as.hora_marcada %></td>
              <td>
                <% if as.observacion == "" %>
                  <span class="label label-success">Puntual</span>
                <% else %>
                  <span class="label label-danger"><%= as.observacion %></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
    var geolocation = null;

    if (window.navigator && window.navigator.geolocation) {
        geolocation = window.navigator.geolocation;
    }

    if (geolocation) {
        geolocation.getCurrentPosition(function(position) {
            if($('#asistencium_tipo_asistencia').val() != 'FIN') {
                $('#pnl_asistencia').show();
                $('#asistencium_latitud').val(position.coords.latitude);
                $('#asistencium_longitud').val(position.coords.longitude);
            }
        });

        /*var identifier = geolocation.watchPosition(function(position) {
            console.log(position);
        });*/
    }
</script>