<div class="inbox">
  <h2>Empleados</h2>

  <div class="portlet-grid panel-primary col-md-12">
    <div class="panel-heading">
      <div class="panel-actions">
        <%= link_to '', edit_empleado_path(@empleado), class: 'fa fa-pencil', style: 'color:#ffffff;', title: 'Editar' %>
        <%= link_to '', empleados_path, class: 'fa fa-times', title: 'Cerrar Ventana' %>
      </div>
      <h3 class="panel-title">Detalle de Empleado</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <strong>Dni:</strong>
          <%= @empleado.dni %>
        </div>

        <div class="col-md-6">
          <strong>Nombres:</strong>
          <%= @empleado.nombres %>
        </div>

        <div class="col-md-6">
          <strong>Apellidos:</strong>
          <%= @empleado.apellidos %>
        </div>

        <div class="col-md-6">
          <strong>Correo:</strong>
          <%= @empleado.correo %>
        </div>

        <div class="col-md-6">
          <strong>Cliente:</strong>
          <%= @empleado.cliente_id %>
        </div>

        <div class="col-md-6">
          <strong>Usuario:</strong>
          <%= @empleado.usuario %>
        </div>

        <div class="col-md-6">
          <strong>Password:</strong>
          <%= @empleado.password %>
        </div>

        <div class="col-md-6">
          <strong>Tipo usuario:</strong>
          <%= @empleado.tipo_usuario %>
        </div>

        <div class="col-md-6">
          <strong>Hora ingreso:</strong>
          <%= @empleado.hora_ingreso %>
        </div>

        <div class="col-md-6">
          <strong>Hora salida:</strong>
          <%= @empleado.hora_salida %>
        </div>

        <div class="col-md-6">
          <strong>Estado:</strong>
          <%= @empleado.estado %>
        </div>
        <div class="col-md-6">
          <strong>Usuario creacion:</strong>
          <%= @empleado.usuario_creacion %>
        </div>

        <div class="col-md-6">
          <strong>Fecha creacion:</strong>
          <%= @empleado.fecha_creacion.strftime("%Y-%m-%d %H:%M:%S") %>
        </div>

        <div class="col-md-6">
          <strong>Usuario modificacion:</strong>
          <%= @empleado.usuario_modificacion %>
        </div>

        <div class="col-md-6">
          <strong>Fecha modificacion:</strong>
          <%= @empleado.fecha_modificacion.nil? ? "" : @empleado.fecha_modificacion.strftime("%Y-%m-%d %H:%M:%S") %>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-5"></div>
        <div class="col-md-4">
          <% if !@empleado.foto.nil? %>
            <%=image_tag(@empleado.foto, alt: "", class: "foto_empleado")%>
          <% else %>
            <span class="label label-warning">sin foto</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
