<div class="inbox">
  <h2>Mi Asistencia</h2>
  <div class="col-md-12 chit-chat-layer1-left" style="font-size: 14px;padding-left: 0px; padding-right: 0px;">
    <div class="work-progres">
      <div class="chit-chat-heading" style="text-align: right;">
        <div class="market-updates" id="pnl_asistencia" style="display: none;">
          <%= form_with(model: @asistencium, local: true) do |form| %>
          <% if @asistencium.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@asistencium.errors.count, "error") %> prohibited this asistencium from being saved:</h2>

              <ul>
                <% @asistencium.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form.hidden_field :ip_conexion, id: :asistencium_ip_conexion %>
          <%= form.hidden_field :latitud, id: :asistencium_latitud %>
          <%= form.hidden_field :longitud, id: :asistencium_longitud %>
          <%= form.hidden_field :tipo_asistencia, id: :asistencium_tipo_asistencia, value: @asistencium.tipo_asistencia%>
          <%= form.hidden_field :id_ingreso, id: :asistencium_id_ingreso, value: @asistencium.id_ingreso%>
          <%= form.button :submit, class:'hvr-grow btn btn_principal', style:'float:right;' do %>
            <i class="fa fa-location-arrow" aria-hidden="true"></i> Marcar <%= @asistencium.tipo_asistencia == "ING"? "Ingreso" : "Salida" %>
          <% end %>
        <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover mb-none">
          <thead>
          <tr>
            <th>Cliente</th>
            <th>Hora Programada</th>
            <th>Fecha Asistencia</th>
            <th>Hora Ingreso</th>
            <th>Hora Salida</th>
            <th>Observación</th>
          </tr>
          </thead>
          <tbody>
          <% @asistencia.each do |as| %>
            <tr>
              <td><%= as.cliente.razon_social %></td>
              <td><%= as.empleado.hora_ingreso %></td>
              <td><%= as.fecha_asistencia.strftime("%Y-%m-%d") %></td>
              <td><%= as.fecha_asistencia.strftime("%H:%M") %></td>
              <td><%= !as.fecha_salida.nil? ? Time.parse(as.fecha_salida).strftime("%H:%M"):"" %></td>
              <td>
                <%= raw(observacion_asistencia(Time.parse(as.empleado.hora_ingreso), Time.parse(as.fecha_asistencia.strftime("%H:%M")))) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>

    var geolocation = null;
    var latitud = "";var longitud = "";
    if (navigator && navigator.geolocation) {
        geolocation = navigator.geolocation;
    }

    if (geolocation) {
        geolocation.getCurrentPosition(function(position) {
            if($('#asistencium_tipo_asistencia').val() != 'FIN') {
                $('#pnl_asistencia').show();
                latitud = position.coords.latitude;
                longitud = position.coords.longitude;
                $('#asistencium_latitud').val(latitud);
                $('#asistencium_longitud').val(longitud);
            }
        });
        if(es_navegador_movil() && $('#asistencium_tipo_asistencia').val() != 'FIN'){
            $('#pnl_asistencia').show();
            //Solo para test(UPC)
            $('#asistencium_latitud').val(-12.104138);
            $('#asistencium_longitud').val(-76.963535);
        }
    }


</script>

